body,
html {
  font-size: 12px;
}

.chart-container {
  position: relative;
  padding: 20px 20px 20px;
  min-height: 400px;
  width: 100%;
  overflow-x: auto;
}

.chart {
  max-height: 300px;
}

.chart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.chart__time-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.chart__time-period_title {
  margin-right: 30px;
}

.chart__time-period_button-inner {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chart__time-period_button {
  border: 1px solid #ff9424;
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 20px;
  margin-right: 20px;
  -webkit-transition: background-color, color, 0.3s ease;
  transition: background-color, color, 0.3s ease;
  cursor: pointer;
}

.chart__time-period_button.active {
  background-color: #ff9424;
  color: #fff;
}

.chart__time-period_button:last-child {
  margin-right: 0;
}

.chart__values_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}









.chart__value {
  font-size: 12px;
  margin-right: 20px;
}

.chart__value span {
  font-family: "Montserrat-bold";
  font-weight: 500;
  font-size: 1.3em;
}

.stock-exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 20px;
}

.stock-exchange__block_form {
  width: 25%;
  max-width: 265px;
  min-width: 235px;
  margin-right: 20px;
}

.stock-exchange__block_form:last-child {
  margin-right: 0;
}



.stock-exchange__form_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stock-exchange__form_title {
  font-family: "Montserrat-bold";
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.stock-exchange__form_gf-amount {
  font-size: 14px;
  margin-bottom: 10px;
}

.stock-exchange__form_gf-amount span {
  font-family: "Montserrat-bold";
  font-weight: 500;
  text-transform: uppercase;
}

.stock-exchange__form_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.stock-exchange__form_item {
  width: 100%;
  max-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 20px;
}

.stock-exchange__form_item:nth-child(2n) {
  margin-right: 0;
}

.stock-exchange__form_item:last-child {
  margin-bottom: 0;
}

.stock-exchange__form_icon-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #313b49;
  min-width: 42px;
  min-height: 42px;
  padding: 2px;
}

.stock-exchange__form_icon-inner.amount {
  background-image: url(../img/dashboard/company-icon.png);
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: 60%;
}

.stock-exchange__form_icon {
  max-height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.dollar {
  font-family: "Montserrat-semibold";
  font-size: 24px;
  color: #ff8a10;
}

.stock-exchange__form_label {
  display: block;
  width: 100%;
}

.stock-exchange__form_input {
  padding: 10px 25px;
  background-color: #f0f2f8;
  border-radius: 20px;
  margin-right: 10px;
  width: 95%;
}

.stock-exchange__form-range-inp {
  margin: 15px 0;
  display: block;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
  border-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f0f2f8;
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.5px solid #ff8a10;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f0f2f8;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f0f2f8;
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.5px solid #ff8a10;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #f0f2f8;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #f0f2f8;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.5px solid #ff8a10;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

/*input[type=range]:focus::-ms-fill-lower {
  background: #f0f2f8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f0f2f8;
}
*/

.stock-exchange__form_button {
  width: 100%;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  border: 1px solid transparent;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-top: 20px;
}

.arrow-down,
.arrow-up {
  width: 13px;
  height: 13px;
  fill: #fff;
}

.arrow-up {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.stock-exchange__form_button.purchase-btn {
  background-color: #169e70;
  border-color: #169e70;
}

.stock-exchange__form_button.purchase-btn:hover {
  background-color: #15ab78;
}

.stock-exchange__form_button.sell-btn {
  background-color: #dc2525;
  border-color: #dc2525;
}

.stock-exchange__form_button.sell-btn:hover {
  background-color: #DE4C4C;
}

.order-history {
  width: 49%;
  padding: 20px 10px 10px;
  margin-right: 10px;
}

.order-history {
  min-width: 520px;
  overflow-x: auto;
}

.table-inner {
  max-height: 320px;
  overflow-y: auto;
  width: 100%;
}

.self-orders-history__title,
.orders-history__title {
  margin-bottom: 20px;
}

.order-history__table {
  width: 100%;
  border-collapse: collapse;
}

.order-history__table_row {
  width: 100%;
}

.order-history__table_row:nth-child(n+2) {
  border-top: 1px solid #f0f2f8;
}

.order-history__table_row:last-child {
  border-bottom: 1px solid #f0f2f8;
}

.order-history__table_row th {
  white-space: nowrap;
}

.order-history__table_row th,
.self-orders-history__table_row th {
  font-family: "Montserrat-medium";
  font-weight: 400;
  min-width: 20%;
  text-align: left;
  padding: 5px;
  color: #c9ccd3;
  font-size: 12px;
}

.order-history__table_row td,
.self-orders-history__table_row td {
  padding: 18px 10px;
  font-size: 14px;
  white-space: nowrap;
  font-family: "Montserrat-medium";
}

.order-history__table_row td[data-type="sell"],
.self-orders-history__table_row td[data-type="sell"] {
  color: #e14242;
}

.order-history__table_row td[data-type="purchase"],
.self-orders-history__table_row td[data-type="purchase"] {
  color: #0e9668;
}

.exchange-orders {
  padding: 20px 10px 10px;
  margin-top: 20px;
}

.exchange-orders__title {
  margin-bottom: 10px;
}

.exchange-orders__table {
  width: 100%;
}

.exchange-orders__table_row {
  width: 100%;
}

.exchange-orders__table_row th {
  font-family: "Montserrat-regular";
  width: 16%;
  color: #b2b6c0;
  text-align: left;
  font-size: 12px;
  padding: 0 5px;
}

.no-orders {
  font-family: "Montserrat-medium";
  font-weight: 500;
  margin-top: 20px;
  display: block;
  font-size: 14px;
}

.self-orders-history {
  margin-top: 20px;
}

.self-orders-history__table {
  width: 100%;
}

.self-orders-history__table_row td[data-type="purchase"] svg {
  fill: #0e9668;
  margin-right: 5px;
}

.self-orders-history__table_row td[data-type="sell"] svg {
  fill: #e14242;
  margin-right: 5px;
}

/*@media (max-width: 450px) {
	.self-orders-history__table_row {
		font-size: 9px;
	}
	}*/

.webp .stock-exchange__form_icon-inner.amount {
  background-image: url(../img/dashboard/company-icon.webp);
}

@media (max-width: 1500px) {
  .chart__value {
    font-size: 10px;
  }

  .chart__time-period_button {
    padding: 5px 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1450px) {
  .order-history {
    min-width: auto;
    width: 48%;
    overflow: auto;
  }

  .order-history__table {
    overflow: auto;
    min-width: auto;
  }
}

@media (max-width: 1300px) {
  .sidebar {
    max-width: 250px;
  }

  .content {
    padding-left: 290px;
  }
}

@media (max-width: 1250px) {
  .stock-exchange {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .stock-exchange__block_form {
    width: 50%;
  }

  .order-history {
    width: 100%;
    min-width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .stock-exchange__sell {
    margin-right: 0;
  }
}

@media (max-width: 1230px) {
  .chart-info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .chart__time-period_title {
    margin-right: 15px;
  }

  .chart__time-period {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 1000px) {
  .content {
    padding: 60px 20px;
  }

  .sidebar {
    max-width: 300px;
  }

  .self-orders-history__table_row th:first-child {
    width: 20%;
  }
}

@media (max-width: 800px) {
  .exchange-orders__table_row th {
    font-size: 11px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media (max-width: 610px) {
  .exchange-orders__table_row th {
    font-size: 10px;
  }

  .stock-exchange__block_form {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .self-orders-history__table_row th,
  .self-orders-history__table_row td,
  .exchange-orders__table_row th {
    word-wrap: break-word;
    max-width: 170px;
    min-width: 110px;
  }

  .table-inner,
  .exchange-orders {
    overflow-x: auto;
  }

  .stock-exchange__form_item {
    width: 100%;
    max-width: none;
  }

  .stock-exchange__form_item {
    margin-right: 0;
  }

  .stock-exchange {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .stock-exchange__block_form {
    width: 100%;
    min-width: auto;
    max-width: 330px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .chart__time-period_title {
    margin-right: 5px;
    font-size: 13px;
  }

  .chart__time-period_button {
    font-size: 10px;
  }

  .chart__values_inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .chart__value {
    width: 47%;
    max-width: 140px;
    margin-right: 10px;
  }

  .chart__value:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .chart__time-period_button-inner {
    width: 100%;
    margin: 10px 0 0 0;
  }

  .self-orders-history {
    padding: 20px 10px;
  }
}