.settings__form {
  padding: 20px;
  border-radius: 25px;
  color: #777777;
  margin-bottom: 20px;
}

.avatar-title {
  margin-bottom: 20px;
}

.settings__settings__avatar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.settings__avatar {
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background-color: #f0f2f8;
  background-image: url(../img/dashboard/avatar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.settings__avatar_input-button {
  margin-left: 10px;
}

.settings__avatar_image {
  width: 100%;
}



.avatar__input {
  display: none;
}

.avatar__tool {
  font-family: "Montserrat-medium";
  font-size: 12px;
  margin-left: 10px;
  max-width: 170px;
}

.personal-data__title {
  margin-bottom: 20px;
}

.settings__personal-data {
  margin-top: 20px;
  max-width: 1120px;
  width: 100%;
}

.personal-data__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.personal-data__label {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.personal-data__label,
.settings__social_label {
  width: 30%;
  max-width: none;
}

.personal-data__label span {
  display: block;
  width: 100%;
}



.settings__input {
  padding: 12px 20px;
  background-color: #f0f2f8;
  color: #707174;
  border-radius: 20px;
  width: 100%;
  display: block;
}

.personal-data__radio-label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  z-index: 1;
}

.personal-data__radio-button {
  position: relative;
  max-width: 18px;
  max-height: 18px;
  min-width: 18px;
  min-height: 18px;
  border-radius: 100%;
  background-color: #f0f2f8;
  margin-right: 10px;
  pointer-events: none;
}

.personal-data__radio-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff8a10;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.personal-data__radio {
  display: none;
}

.personal-data__radio:checked + label .personal-data__radio-button::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.settings__verify {
  margin-top: 10px;
}

.settings__verify_title {
  margin-bottom: 20px;
}

.settings__verify_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.verify__input_inner {
  position: relative;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 30px;
}

.verify__input_inner::before {
  content: "";
  position: absolute;
  color: #abaeb9;
  bottom: 0px;
  left: 0;
}

.verify__input_inner.phone[data-verified='false']::before {
  content: "Номер телефона не подтвержден.";
}

.verify__input_inner.phone[data-verified='true']::before {
  content: "Номер телефона подтвержден.";
}

.verify__input_inner.mail[data-verified='false']::before {
  content: "E-mail не подтвержден";
}

.verify__input_inner.mail[data-verified='true']::before {
  content: "Ваш e-mail подтвержден";
}

.verify__input_inner[data-verified='process']::before {
  content: "Код отправлен.";
}

.verify__input_inner[data-verified='true']::before {
  color: #1e9d72;
}

.verify__input-label {
  width: 100%;
  max-width: 360px;
  margin-right: 10px;
}

.verify__input-label span {
  display: block;
}





.verify__input_inner[data-verified='process'] .verify__button {
  pointer-events: none;
  border-color: #f0f2f8;
}

.verify__input_inner[data-verified='true'] .verify__button {
  padding: 12px 15px;
  border-radius: 25px;
  width: 100%;
  max-width: 180px;
  border: 1px solid #5eb959;
  color: #5eb959;
  background-color: #fff;
  pointer-events: none;
}

.settings__social {
  margin-top: 20px;
}

.settings__social_title {
  margin-bottom: 10px;
}

.settings__social_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.settings__social_label {
  margin-right: 10px;
  margin-bottom: 10px;
}

.save-changes_button {
  margin-top: 30px;
}

.change-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.change-password_label {
  width: 100%;
  max-width: 280px;
  margin-right: 10px;
}

.change-password_label span {
  display: block;
}

.change-password_button {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.settings__confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 500;
  -webkit-transition: opacity, visibility, 0.3s ease;
  transition: opacity, visibility, 0.3s ease;
}

.settings__confirm-popup.active {
  visibility: visible;
  opacity: 1;
}

.settings__confirm-popup_layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.settings__confirm-popup_form {
  position: relative;
  margin-left: 250px;
  z-index: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.settings__confirm__form_title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}

.settings__confirm__form_input {
  padding: 10px 15px;
}

.settings__confirm__form_button {
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.settings__confirm-popup_close-btn {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.settings__confirm-popup_close-btn::before,
.settings__confirm-popup_close-btn::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #8d92a1;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.settings__confirm-popup_close-btn::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.settings__confirm-popup_close-btn::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.settings__confirm-popup_close-btn:hover::before,
.settings__confirm-popup_close-btn:hover::after {
  background-color: #ccc;
}

.webp .settings__avatar {
  background-image: url(../img/dashboard/avatar.webp);
}

@media (max-width: 1500px) {
  .change-password_label {
    width: 24%;
  }

  .change-password_button {
    padding: 12px 15px;
  }
}

@media (max-width: 1200px) {
  .personal-data__label,
  .settings__social_label,
  .change-password_label {
    width: 47%;
    max-width: none;
  }

  .settings__social_label:nth-child(2n) {
    margin-right: 0;
  }

  .change-password {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .change-password_label:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 1150px) {
  .settings__verify_inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .verify__input_inner {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 1000px) {
  .settings__confirm-popup_form {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .settings__settings__avatar-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .settings__avatar_input-label {
    width: 70%;
    max-width: 280px;
    margin-right: 0;
  }

  .settings__avatar_input-button {
    text-align: center;
  }

  .avatar__tool {
    width: 100%;
    max-width: 250px;
    margin: 10px 0 0 0;
  }
}

@media (max-width: 500px) {
  .change-password_label,
  .personal-data__label,
  .settings__social_label {
    width: 100%;
    margin-right: 0;
  }

  .verify__input_inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .save-changes_button {
    margin-top: 10px;
  }

  .change-password_label {
    margin-bottom: 10px;
  }

  .verify__button,
  .change-password_button {
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  .settings__avatar_input-label {
    width: 60%;
  }

  .settings__avatar {
    min-width: 70px;
    min-height: 70px;
  }
}

@media (max-width: 400px) {
  .settings__form {
    padding: 20px 15px;
  }

  .settings__avatar_input-label {
    width: auto;
  }

  .settings__avatar {
    min-width: 60px;
    min-height: 60px;
  }
}

@media (max-width: 350px) {
  .settings__avatar_input-button {
    padding: 10px 15px;
  }

  .personal-data__radio-label {
    margin-right: 10px;
  }

  .save-changes_button {
    padding: 10px 13px;
  }
}