@font-face {
  font-display: swap;
  font-family: "Montserrat-bold";
  src: url(../../fonts/Montserrat-Bold.woff2) format('woff2'),
	url(../../fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: "Montserrat-semibold";
  src: url(../../fonts/Montserrat-SemiBold.woff2) format('woff2'),
	url(../../fonts/Montserrat-SemiBold.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: "Montserrat-medium";
  src: url(../../fonts/Montserrat-Medium.woff2) format('woff2'),
	url(../../fonts/Montserrat-Medium.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: "Montserrat-regular";
  src: url(../../fonts/Montserrat-Regular.woff2) format('woff2'),
	url(../../fonts/Montserrat-Regular.woff) format('woff');
}